*, *::before, *::after {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #21a0df, #f86893);
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: minmax(140px, auto) repeat(5, 120px);
}

.calculator > button {
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .70);
}

.calculator > button:hover {
    background-color: rgba(255, 255, 255, .85);
}

.span-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .50);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 8px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-operand {
    color: rgba(255, 255, 255, .70);
    font-size: 1.5rem;
}

.display .current-operand {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
}